@import url(https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);


.header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid black;
  text-align: right;
  position: relative;
}
.header .logo {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  font-weight: 100;
  padding-top: 26px;
  padding-right: 10px;
  padding-left: 10px;
}

.link {
  display: inline-block;
  padding: 15px 0;
  margin: 15px 9px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0f0f;
  font-weight: 800;
  font-size: 24px;
}
.link .bar {
  width: 100%;
  display: inline-block;
  border-bottom: 5px solid black;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 300ms;
}
.link:hover .bar {
  opacity: 0.5;
  bottom: 5px;
}

a:link,
 a:visited,
 a:hover,
 a:active {
  color: inherit;
  text-decoration: none;
}
.App{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center ;
	align-items: center;
}


 * {
	 box-sizing: border-box;
}
 .card {
	 background-color: #ffffffc7;
	 border-radius: 4px;
	 margin: 10% auto;
	 position: relative;
	 padding: 34px;
	 color: #444;
	 cursor: pointer;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 justify-content: center;
	 text-align: center;
	 border: 0.5px solid black;
}
 .card:before {
	 content: '';
	 display: block;
	 position: absolute;
	 background-color: #ccc;
	 left: 20px;
	 right: 20px;
	 bottom: 0;
	 top: 50%;
	 z-index: -1;
	 box-shadow: 0 0 40px #999;
	 transition: box-shadow 0.2s ease-in-out;
}
 .card.level-3:hover:before {
	 box-shadow: 0 0 80px #999;
}
 .card h5 {
	 font-weight: 300;
	 font-size: 30px;
}

#button {
	margin: 1em;
	padding: 5px 12px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.6s ease;
	border-radius: 50px;
}

#button {
	box-shadow: 0 7px 0 -3px rgba(0, 0, 0, 1);
}
#button:hover {
	box-shadow: none !important;
}

#url{
	padding: .8rem;
	font-size: 1em;
	width: 15rem;
	height: 20px;
	border-radius: 25px;
	box-shadow: 0 7px 0 -3px rgba(0, 0, 0, 1);
	color: #000;
	transition: all 0.6s ease;
  }
#url:focus {
	box-shadow: none !important;
}
#url:invalid {
	border: 2px solid #B00;
	animation: shake 0.5s ease-in-out;
}
  
  @keyframes shake {
	0%, 100% {
	  transform: translateX(0%);
	}
	10%, 30%, 50%, 70%, 90% {
	  transform: translateX(-10px);
	}
	20%, 40%, 60%, 80% {
	  transform: translateX(10px);
	}
}


@media only screen and (max-width: 600px) {
  .project{
    width: 100%;
  }
}